<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="container">
	<h1>Comparateur de prix</h1>
	<p>
		Nous regroupons tous les sites de vente en ligne
	</p>
		<div class="row">
        <div class="col-md-12">
            <form id="custom-search-form" class="form-search form-horizontal pull-right">
                <div class="input-append span12">
                    <input type="text" class="search-query" name="searchQuery" placeholder="Rechercher un produit " >
                </div>
					<button class="btn" type="submit" >Get Products</button>
            </form>
        </div>
	</div>
	</div>
</body>
</html>